.admin__logo_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.admin__login_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login_form {
  width: 100%;
  color: #333;
  display: block;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #343a40;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.input_group {
  margin-bottom: 15px;
}

.login_form input[type="email"],
.login_form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #343a40;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 1.6rem;
}

.login_form input[type="submit"] {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #343a40;
  color: #ffffff;
  font-size: 1.6rem;
  border-radius: 5px;
  cursor: pointer;
}

.login_form input[type="submit"]:hover {
  background-color: var(--primary-color);
}

.button a {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
}

.button a:hover {
  color: #d6a700;
}

.success {
  color: #45a049;
  padding: 10px;
}

.error {
  color: rgb(255, 69, 69);
  padding: 10px;
}
