@media (max-width: 1023px){
    :root{
        --navbar-height: 0px;
        --header-height: 140px;
    }
    .header-with-search{
        margin-top: 0;
    }


    .hide-on-moblie-tablet{
        display: none;
    }
}

@media (min-width: 740px) and (max-width:1023px){
    .hide-on-tablet{
        display: none;
    }
    .grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    }
    .header__cart 
    {
        text-align: right;
        width: 100px;
        position: relative;
        margin-top: 6px;
        margin-right: 20px;
    }

    .header__menu-item-info span {
    margin-left: 0;
    font-size: 1.2rem;
    text-align: center;
    white-space: nowrap;
    }


    .header__menu-item-info {
    padding: 10px 7px;
    }

    .header__menu-list {
    margin: 0 30px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    }

    .home-product-item__action {

        display: block;
        margin: 8px 10px 0;
    }

    .home-product-item__sold {
    white-space: nowrap;        
    overflow: hidden;          
    text-overflow: ellipsis;   
    margin-right: 3px;
    max-width: 70%;            
    display: block;             
    }

    .home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.7);
    transform-origin: right;
    color: #D3D3D3;
    margin-top: -18px;
    margin-right:-100px
    }

    .home-product-item__sold--wrap{
        display: flex;
        margin-right: 28px;
        padding-right:10px;
        width: 100%;
        margin-left: -6px;
    }

    .header__search{
    height: 40px;
    flex: 1 1;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    }
    

}

/* mobile */

@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
}